<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>

<body>
<!--START LOADER-->
<div th:replace="fragments.html::preloader"></div>
<!-- END LOADER -->

<!-- START JOB DONE POPUP -->

<div th:if="${message}" class="modal fade subscribe_popup" id="onload-popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="col-sm-12">
                        <div class="popup_content">
                            <div class="popup-text">
                                <p>계정의 비밀번호 변경이 완료되었습니다.</p>
                                <button type="button" class="close btn btn-fill-out" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-size: 18px;" >확인</span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--END JOB DONE POPUP-->

<!-- START HEADER -->
<header th:replace="fragments.html::header"></header>
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
<div th:replace="fragments.html::breadcrumb(패스워드)"></div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
<div class="section">
	<div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div th:replace="fragments.html::account-setting-nav(profile)"></div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="tab-content dashboard_content">
                  	<div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                    	<div class="card">
                        	<div class="card-header">
                                <h3>비밀번호 변경</h3>
                            </div>
                            <div class="card-body">
                                <form method="post" th:action="@{/account/settings/password}" name="enq" th:object="${passwordForm}" novalidate>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <input id="account-id" class="form-control"  type="text" th:name="accountId" th:value="${account.id}" hidden>
                                            <label for="current-password">현재 비밀번호</label>
                                            <input id="current-password" class="form-control"  type="password" th:field="*{currentPassword}" placeholder="현재 비밀번호를 입력해 주세요.">
                                            <small class="form-text text-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">
                                                현재 비밀번호가 일치하지 않습니다.
                                            </small>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="new-password">새 비밀번호</label>
                                            <input id="new-password" class="form-control" th:field="*{newPassword}" type="password" placeholder="새로운 비밀번호를 입력해주세요.">
                                            <small class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                                                새 비밀번호 에러
                                            </small>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="confirm-password">새 비밀번호 확인</label>
                                            <input id="confirm-password"  class="form-control" th:field="*{confirmPassword}" type="password" placeholder="한번 더 입력해주세요.">
                                            <small class="form-text text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
                                                새 비밀번호 확인 에러
                                            </small>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">변경하기</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                  	</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END SECTION SHOP -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
<footer th:replace="fragments.html::footer"></footer>
<!--END FOOTER-->

<!--<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>-->
<div th:replace="fragments.html::common-js"></div>

</body>
</html>