<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>


<body>
<div th:replace="fragments.html::preloader"></div>
<!-- END LOADER -->

<!-- START HEADER -->
<header th:replace="fragments.html::header"></header>
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
<div th:replace="fragments.html::breadcrumb(지역설정)"></div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
<div class="section">
	<div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div th:replace="fragments.html::account-setting-nav(zone)"></div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="tab-content dashboard_content">
                  	<div class="tab-pane fade active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                    	<div class="card">
                        	<div class="card-header">
                                <h3>활동 지역 설정</h3>
                            </div>
                            <div class="card-body">
                                <p>주로 활동하는 지역을 등록하세요. 해당 지역에 계시물이 올라오면 알림을 발송해 드려요!</p>
                                <div id="city-list" th:text="${cityList}" hidden></div>
                                <input id="zones" type="text" name="zones" th:value="${#strings.listJoin(zones, ',')}"
                                       class="tagify-outside" aria-describedby="tagHelp"/>
                            </div>
                        </div>
                  	</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END SECTION SHOP -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
<footer th:replace="fragments.html::footer"></footer>
<!--END FOOTER-->

<!--<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>-->
<div th:replace="fragments.html::common-js"></div>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script th:replace="fragments.html :: update-zones(baseUrl='/account/settings/zone')"></script>
</body>
</html>