<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>

<body>

<!-- LOADER -->
<div th:replace="fragments.html::preloader"></div>
<!-- END LOADER -->

<!-- START HEADER -->
<header th:replace="fragments.html::header"></header>
<!-- END HEADER -->

<!-- END SECTION BANNER -->

<!-- END MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
<div class="section small_pt">
	<div class="container">
        <div class="row">
            <div class="col-4" th:each="post:${postPage.getContent()}">
                <div class>
                    <div class="item">
                        <div class="product_wrap">
                            <div class="product_img">
                                <a th:href="@{'/post/'+${post.id}}">
                                    <img th:src="${post.thumbnail}">
                                </a>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title" ><a th:text="${post.title}" th:href="@{'/post/' + ${post.id}}">title</a></h6>
                                <div class="product_price">
                                    <span class="price" th:text="${post.price}"></span><span> 원</span>
                                    <br>
                                    <span th:each="tag: ${post.tags}" class="font-weight-border text-monospace badge badge-pill badge-info mr-3">
                                        <i class="fa fa-tag"></i> <span th:text="${tag.tag.tagName}">Tag</span>
                                    </span>
                                    <br>
                                    <span th:each="zone: ${post.zones}" class="font-weight-bold text-monospace badge badge-primary mr-3">
                                        <i class="fa fa-globe"></i> <span th:text="${zone.zone.localCityName}">City</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-12 mt-2 mt-md-4">
            <ul class="pagination pagination_style1 justify-content-center">
                <li class="page-item" th:classappend="${!postPage.hasPrevious()}? disabled">
                    <a th:href="@{'/search/study?&desc&page=' + ${postPage.getNumber() - 1}}" class="page-link" href="#" tabindex="-1"><i class="linearicons-arrow-left"></i></a>
                </li>
                <li class="page-item" th:classappend="${i == postPage.getNumber()}? active"
                    th:each="i: ${#numbers.sequence(0, postPage.getTotalPages() - 1)}">
                    <a th:href="@{'/search/study?desc&page=' + ${i}}"
                       class="page-link" href="#" th:text="${i + 1}">1</a>
                </li>
                <li class="page-item" th:classappend="${!postPage.hasNext()}? disabled">
                    <a th:href="@{'/search/study?desc&page=' + ${postPage.getNumber() + 1}}" class="page-link" href="#"><i class="linearicons-arrow-right"></i></a>
                </li>
            </ul>
        </div>
    </div>

</div>
<!-- END MAIN CONTENT -->


<footer th:replace="fragments.html::footer"></footer>
<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>
<div th:replace="fragments.html::common-js"></div>
</body>
</html>