<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>

<body>
<div th:replace="fragments.html::preloader"></div>
<!-- END LOADER -->

<!-- START HEADER -->
<header th:replace="fragments.html::header"></header>
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
<div th:replace="fragments.html::breadcrumb(알림조회)"></div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
<div class="section">
	<div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 dashboard_menu">
                <ul class="nav nav-tabs flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="new-tab"  th:href="@{/notifications}"><i class="ti-layout-grid2"></i>새로운 알림</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="old-tab" th:href="@{/notifications/all}"><i class="ti-shopping-cart-full"></i>모든 알림</a>
                    </li>
                </ul>
                <br>
                <form class="form-inline" th:action="@{/notifications}" th:method="delete">
                    <button class="btn btn-fill-mint btn-block text-uppercase rounded-10" type="submit">읽은 알림 전체 삭제</button>
                </form>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="tab-content dashboard_content">
                  	<div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                        <div class="table-responsive wishlist_table">
                            <div class="card-header">
                                <h3 th:if="${notifications.size() > 0}">지난 알림</h3>
                                <h3 th:unless="${notifications.size() > 0}">받은 알림이 존재하지 않습니다</h3>
                            </div>
                            <table class="table">
                                <tbody>
                                <tr th:each="notification :${notifications}">
                                    <td class="product-thumbnail"><a th:href="@{'/post/' + ${notification.post.id}}"><img th:src="${notification.post.thumbnail}"></a></td>
                                    <td class="product-name" data-title="Product"><a th:href="@{'/post/' + ${notification.post.id}}" th:text="${notification.post.title}">Blue Dress For Woman</a></td>
                                    <td class="product-price" data-title="Price" th:text="${notification.post.price} +'원'">$45.00</td>
                                    <td class="product-stock-status" data-title="Stock Status"><span class="badge badge-pill" th:classappend="${notification.post.postStatus == 'AVAILABLE' ?  'badge-danger':'badge-success' }" th:text="${notification.post.postStatus}">In Stock</span></td>
<!--                                    <td class="product-add-to-cart"><a href="#" class="btn btn-fill-out"><i class="icon-basket-loaded"></i> Add to Cart</a></td>-->
<!--                                    <td class="product-remove" data-title="Remove"><a href="#"><i class="ti-close"></i></a></td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                  	</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END SECTION SHOP -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
<footer th:replace="fragments.html::footer"></footer>
<!--END FOOTER-->

<!--<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>-->
<div th:replace="fragments.html::common-js"></div>

</body>
</html>