<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>

<body>

<!-- LOADER -->
<div th:replace="fragments.html::preloader"></div>
<!-- END LOADER -->

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>로그인</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active">Login</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">
<!-- START LOGIN SECTION -->
<div class="login_register_wrap section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-10">
                <div class="login_wrap">
            		<div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3>로그인</h3>
                        </div>
                        <div th:if="${param.error}" class="alert-danger">
                            <p>계정 이름과 패스워드가 정확하지 않습니다. 확인 후 다시 입력해주세요.</p>
                        </div>
                        <form method="post" th:action="@{/login}" novalidate>
                            <div class="form-group">
                                <input type="text" required="" class="form-control" name="username" placeholder="이메일을 입력하세요">
                            </div>
                            <div class="form-group">
                                <input class="form-control" required="" type="password" name="password" placeholder="비밀번호를 입력하세요">
                            </div>
                            <div class="login_footer form-group">
                                <div class="check-form">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="remember-me" id="rememberMe">
                                        <label class="form-check-label" for="rememberMe"><span>자동 로그인</span></label>
                                    </div>
                                </div>
                                <a href="#">비밀번호 찾기</a>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-fill-out btn-block" name="login">로그인</button>
                            </div>
                        </form>
                        <div class="different_login">
                            <span> or</span>
                        </div>
                        <ul class="btn-login list_none text-center">
                            <li><a href="#" class="btn btn-facebook"><i class="ion-social-facebook"></i>Facebook</a></li>
                            <li><a href="#" class="btn btn-google"><i class="ion-social-googleplus"></i>Google</a></li>
                        </ul>
                        <div class="form-note text-center">계정이 없으신가요? <a th:href="@{/sign-up}">회원가입</a></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END LOGIN SECTION -->
</div>
<!-- END MAIN CONTENT -->

<footer th:replace="fragments.html::footer"></footer>
<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a> 
<div th:replace="fragments.html::common-js"></div>
</body>
</html>