<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments.html::head"></head>

<body>

<!-- LOADER -->
<div th:replace="fragments.html::preloader"></div>
<!-- END LOADER -->

<!-- START HEADER -->
<header th:replace="fragments.html::header"></header>
<!-- END HEADER -->

<!-- START SECTION BANNER -->
<!--<div class="banner_section slide_medium shop_banner_slider staggered-animation-wrap">-->
<!--    <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-ride="carousel">-->
<!--        <div class="carousel-inner">-->
<!--            <div class="carousel-item background_bg active" data-img-src="/assets/images/banner16.jpg">-->
<!--                <div class="banner_slide_content banner_content_inner">-->
<!--                	<div class="container">-->
<!--                    	<div class="row">-->
<!--                            <div class="col-lg-7 col-10">-->
<!--                                <div class="banner_content overflow-hidden">-->
<!--                                    <h2 class="staggered-animation" data-animation="slideInLeft" data-animation-delay="0.5s">LED 75 INCH F58</h2>-->
<!--                                    <h5 class="mb-3 mb-sm-4 staggered-animation font-weight-light" data-animation="slideInLeft" data-animation-delay="1s">Get up to <span class="text_default">50%</span> off Today Only!</h5>-->
<!--                                    <a class="btn btn-fill-out staggered-animation text-uppercase" href="shop-left-sidebar.html" data-animation="slideInLeft" data-animation-delay="1.5s">Shop Now</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                    	</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item background_bg" data-img-src="/assets/images/banner17.jpg">-->
<!--                <div class="banner_slide_content banner_content_inner">-->
<!--                	<div class="container">-->
<!--                    	<div class="row">-->
<!--                    		<div class="col-lg-8 col-10">-->
<!--                                <div class="banner_content overflow-hidden">-->
<!--                                    <h2 class="staggered-animation" data-animation="slideInLeft" data-animation-delay="0.5s">Smart Phones</h2>-->
<!--                                    <h5 class="mb-3 mb-sm-4 staggered-animation font-weight-light" data-animation="slideInLeft" data-animation-delay="1s"><span class="text_default">50%</span> off in all products</h5>-->
<!--                                    <a class="btn btn-fill-out staggered-animation text-uppercase" href="shop-left-sidebar.html" data-animation="slideInLeft" data-animation-delay="1.5s">Shop Now</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                    	</div>	-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="carousel-item background_bg" data-img-src="/assets/images/banner18.jpg">-->
<!--                <div class="banner_slide_content banner_content_inner">-->
<!--                	<div class="container">-->
<!--                    	<div class="row">-->
<!--                    		<div class="col-lg-8 col-10">-->
<!--                                <div class="banner_content overflow-hidden">-->
<!--                                    <h2 class="staggered-animation" data-animation="slideInLeft" data-animation-delay="0.5s">Beat Headphone</h2>-->
<!--                                    <h5 class="mb-3 mb-sm-4 staggered-animation font-weight-light" data-animation="slideInLeft" data-animation-delay="1s">Taking your Viewing Experience to Next Level</h5>-->
<!--                                    <a class="btn btn-fill-out staggered-animation text-uppercase" href="shop-left-sidebar.html" data-animation="slideInLeft" data-animation-delay="1.5s">Shop Now</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                    	</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><i class="ion-chevron-left"></i></a>-->
<!--        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><i class="ion-chevron-right"></i></a>-->
<!--    </div>-->
<!--</div>-->
<!-- END SECTION BANNER -->

<!-- END MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
<div class="section small_pt">
	<div class="container">
    	<div class="row justify-content-center">
			<div class="col-md-6">
            	<div class="heading_s1 text-center">
                	<h2>새로 등록된 물품</h2>
                    <div class="view_all">
                        <a href="#" class="text_default"><span>View All</span></a>
                    </div>
                </div>
            </div>
		</div>
        <div class="row">
            <div class="col-4" th:each="post:${postList}">
                <div class>
                    <div class="item">
                        <div class="product_wrap">
                            <div class="product_img">
                                <a th:href="@{'/post/'+${post.id}}">
                                    <img th:src="${post.thumbnail}">
                                </a>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title" ><a th:text="${post.title}" th:href="@{'/post/' + ${post.id}}">title</a></h6>
                                <div class="product_price">
                                    <span class="price" th:text="${post.price}"></span><span> 원</span>
                                    <br>
                                    <span th:each="tag: ${post.tags}" class="font-weight-border text-monospace badge badge-pill badge-info mr-3">
                                        <i class="fa fa-tag"></i> <span th:text="${tag.tag.tagName}">Tag</span>
                                    </span>
                                    <br>
                                    <span th:each="zone: ${post.zones}" class="font-weight-bold text-monospace badge badge-primary mr-3">
                                        <i class="fa fa-globe"></i> <span th:text="${zone.zone.localCityName}">City</span>
                                    </span>
                                </div>
                                <div class="pr_desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section small_pt">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="heading_s1 text-center">
                        <h2>내 지역에 등록된 게시물</h2>
                        <div class="view_all">
                            <a href="#" class="text_default"><span>View All</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class>
                        <div class="item">
                            <div class="product_wrap">
                                <div class="product_img">
                                    <a href="shop-product-detail.html">
                                        <img src="/assets/images/el_img2.jpg" alt="el_img2">
                                    </a>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="shop-product-detail.html">Smart Watch External</a></h6>
                                    <div class="product_price">
                                        <span class="price">$55.00</span>
                                        <br>
                                        <span>경기도 성남시 분당구</span>
                                    </div>
                                    <div class="rating_wrap">
                                        <div class="rating">
                                            <div class="product_rate" style="width:68%"></div>
                                        </div>
                                        <span class="rating_num">(15)</span>
                                    </div>
                                    <div class="pr_desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section small_pt">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="heading_s1 text-center">
                        <h2>내 관심 물품</h2>
                        <div class="view_all">
                            <a href="#" class="text_default"><span>View All</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class>
                        <div class="item">
                            <div class="product_wrap">
                                <div class="product_img">
                                    <a href="shop-product-detail.html">
                                        <img src="/assets/images/el_img2.jpg" alt="el_img2">
                                    </a>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="shop-product-detail.html">Smart Watch External</a></h6>
                                    <div class="product_price">
                                        <span class="price">$55.00</span>
                                        <br>
                                        <span>경기도 성남시 분당구</span>
                                    </div>
                                    <div class="rating_wrap">
                                        <div class="rating">
                                            <div class="product_rate" style="width:68%"></div>
                                        </div>
                                        <span class="rating_num">(15)</span>
                                    </div>
                                    <div class="pr_desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END MAIN CONTENT -->


<footer th:replace="fragments.html::footer"></footer>
<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>
<div th:replace="fragments.html::common-js"></div>
</body>
</html>